
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-clr: #5598fd;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    display: flex;
    
    justify-content: center;
    min-height: 100vh;
    min-width: 6rem;
    padding: 2rem;
    background: var(--primary-clr);
    transition: background-image 0.3s ease;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)),url("pics/Daytime\ Miving\ GIF\ -\ Daytime\ Miving\ Clouds\ -\ Discover\ &\ Share\ GIFs.gif");
    background-size:cover ;
    background-position: center;

  }
  img {
    width: 4rem;
    
    
    
  }
  .wrapper {
    display: flex;
    width: 74rem;
    min-width: 56.25rem;
    border-radius: 1.25rem;
    overflow: hidden;
    
  }
  .sidebar {
    width: 25%;
    height: auto;
    min-width: 15.625rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.125rem;
    margin-top: 0.938rem;
    position: relative;
  }
  
  .search input {
    width: 100%;
    height: 2.5rem;
    border: 0.063rem solid #ced4da;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.313rem;
    padding: 0 0.938rem;
    font-size: 0.875rem;
    color: #495057;
  }
  
  .search input:focus {
    outline: none;
    border: 0.063rem solid var(--primary-clr);
  }
  
  .search button {
    min-width: 2.5rem;
    height:2.5rem;
    border: none;
    border-top-right-radius: 0.313rem;
    border-bottom-right-radius:0.313rem;
    background-color: var(--primary-clr);
    font-size:0.875rem;
    color: #fff;
    cursor: pointer;
  }
  .weather-icon {
    width: 70%;
    height: 9.375rem;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0;
    margin-left: 2rem;
  }
  
  .weather-icon #icon {
    width: 80%;
    object-fit: cover;
  }
  
  .temperature {
    display: flex;
    
  }
  
  .temperature #temp {
    font-size: 3.75rem;
    font-weight:40;
    line-height: 1;
  }
  
  .temperature span {
    font-size: 1.875rem;
    margin-top: -0.625rem;
    display: block;
  }
  .temperature{
    position:relative;
    
  }
  .date-time{
    position:relative;
    
  }
  
  .divider {
    width: 100%;
    height: 0.063rem;
    margin: 0.063rem 0;
    background-color: #000;
    position:relative;
    
  }

  .condition-rain {
    font-size:0.75rem;
    text-transform: capitalize;
    padding: 2%;
    
  }
  .condition-rain div {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin-bottom: 0.25rem;
  }
  .condition-rain div i{

    width: 1.25rem;
  }

 .location{
  
  display:flex;
  align-items: center;
  font-size: 0.875rem;
  gap:0.625rem;
  

 }
 .location-text  {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 0.25rem;
  justify-content: center; 
  margin-left: 2.9%;
}
.location-icon{
  justify-content: center;
  margin-left: 1%;
}

.main {
  width: 100%;
  
  min-width: 25rem;
  padding: 1.25rem 2.5rem;
  
  position: relative;
  padding-bottom: 5.625rem;
  
  background-color: #f6f6f8;
  }
  
  .main nav {
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  
  }

nav .options {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}


.options button {
  border: none;
  background: transparent;
  font-size: 1rem;
  font-weight: 600;
  color: #495057;
  cursor: pointer;
  text-transform: capitalize;
}


.options button.active {
  color: var(--primary-clr);  
}

.main .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-top: 3.125rem;
  
  
}

.cards .card {
  width: 6.25rem;
  height: 8.125rem;
  border-radius: 1.25rem;
  color: #1a1a1a;
  background-color: white;
  text-align: center;
  padding: 0.625rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h2 {
  font-size: 0.938rem;
  font-weight: 600;
}

.card-icon {
  width: 3.125rem;
  
  margin: 0 auto;
}

.card .day-temp {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.highlights {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-top: 3.125rem;
}

.highlights .heading {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
}

.highlights .card2 {
  width: 15.625rem;
  height: 9.375rem;
  border-radius: 1.25rem;
  color: #1a1a1a;
  background-color: white;
  padding:0.625rem 1.25rem;
  display: flex;
  flex-direction: column;
  margin-left: 1.25rem;

  
}

.card2 .card-heading{
  color: #c2c2c2;
}
.card2 .content{
  margin-top: 1.25rem;
}



 .card2 .content p:first-child {
  text-align: center;
  font-size: 1.875rem;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }

  .sidebar {
    width: 100%;
    min-width: 0;
  }

  .main {
    width: 100%;
    min-width: 0;
  }
}

@media screen and (max-width: 768px) {
  .weather-icon {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 9%;
  }

  .temperature {
    
    
    margin-left: 42%;
    
  }

  .temperature #temp {
    font-size: 3.5rem;
    margin-bottom: 9%;
    
  }

  .date-time {
    margin-top: 0.2rem;
  }

  .condition-rain {
    font-size: 0.6rem;
  }

  .location {
    font-size: 0.75rem;
    margin-left: 35%;
    text-align: center;
    
  }

  .location-text {
    margin-left: 0;
    
  }

  .location-icon {
    margin-right: 0.5rem;
  }

  .cards .card {
    width: 10rem;
    height: 12rem;
    margin-left: 11%;
  }

  .card h2 {
    font-size: 0.8rem;
  }

  .highlights .card2 {
    width: 20rem;
    height: 12rem;
    margin-left: 19%;
  }

  .card2 .content p:first-child {
    font-size: 1.5rem;
  }
}





